body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1, h2, h3 {
    margin: 10px 0;

}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#mainLeft, #mainRight {
    width: 45%;
    padding: 20px;
    background: #f4f4f4;
    margin: 10px;
    border-radius: 5px;
}


section {
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

p {
    margin: 5px 0;
}
